/*  reset.css  */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,
legend,input,button,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
    color: #555;
    font-size: 14px;
    font-family:  Arial, Helvetica, sans-serif;
}
td,th,caption {
    font-size: 14px;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
}
address,caption,em,strong,th {
    font-style: normal;
    font-weight: normal;
}
a {
    color: #555;
    text-decoration: none;
}
img {
    border: none;
}
ol,ul,li {
    list-style: none;
}
input,textarea,select,button {
    font: 14px Verdana, Helvetica, Arial, sans-serif;
}
table {
    border-collapse: collapse;
}
.mybox {
    box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform-style: preserve-3d;
  /*设置内嵌的元素在 3D 空间如何呈现：保留 3D*/
  -webkit-backface-visibility: hidden;
  /*（设置进行转换的元素的背面在面对用户时是否可见：隐藏）*/
  -webkit-overflow-scrolling: touch;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}
i {
    font-style: normal;
}
/*禁止微信调整字体大小*/

body {
    -webkit-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
}
/*height自适应*/
html,
body {
    height: 100%;
    z-index: 1;
    background-color: transparent;
    width: 100%;
}
.body {
    height: 100%;
    z-index: -1;
    width: 100%;
    background-color: transparent;
}

/* 去除当src=''时默认边框*/

img[src=""] {
    opacity: 0;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}


/* 解决在手机上点击会有阴影块 */

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
    padding-top: constant(safe-area-inset-top);
    /* 为导航栏+状态栏的高度 88px */
    padding-left: constant(safe-area-inset-left);
    /* 如果未竖屏时为0    */
    padding-right: constant(safe-area-inset-right);
    /* 如果未竖屏时为0     */
    padding-bottom: constant(safe-area-inset-bottom);
    /* 为底下圆弧的高度 34px   */
}



@font-face {
  font-family:"fontTH";
  src: url('../font/fontTH.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}


/*Keyframes start*/

@keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }

    100% { background-position: 250px 500px, 200px 200px, 150px 150px }
}

@-moz-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }

    100% { background-position: 250px 500px, 200px 200px, 150px 150px }
}


@-webkit-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }


    100% {
        background-position: 250px 500px, 200px 200px, 150px 150px;
    }
}

@-ms-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }

    100% { background-position: 250px 500px, 200px 200px, 150px 150px }
}

.snow-animation-container {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
	background-image: url('../image/money_1.png'), url('../image/money_1.png');
	-webkit-animation: snow 15s linear infinite;
	-moz-animation: snow 15s linear infinite;
	-ms-animation: snow 15s linear infinite;
	animation: snow 15s linear infinite;
	pointer-events:none;
}

.none{
  display: none !important;
}

/*Keyframes end*/



/* ------------------- 正文 -------------------- */
/* common css start */
.container-box{
  max-width: 414px;
  width: 100%;
  height: 100%;
  position: relative;
  background: #FFC31E;
  overflow: hidden;
}

.wrap-box{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all .5s ease-in-out;
  overflow-y: scroll;
}

.content-box{
  padding-top: 0.5rem;
}

/* .wrap-box .content-box .title-box{
  font-size: 16px;
  color: #111111;
  letter-spacing: 0.09px;
  line-height: 24px;
  text-align: center;
  padding: 8px 0;
  background: #FFC31E;
} */
.wrap-box .content-box .btn{
  font-size: 24px;
  line-height: 28px;
  color: #111111;
  letter-spacing: 4.51px;
  position: relative;
  display: inline-block;
  font-family: "fontTH";
  min-width: 1.6rem;
  min-height: 0.8rem;
  line-height: 0.8rem;
  border: none;
}
.wrap-box .content-box .btn-big{
  min-width: 4rem;
  min-height: 0.92rem;
  line-height: 0.92rem;
}
.wrap-box .content-box .btn span{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #FF9F5B;
  border: 1px solid #7665B1;
  border-radius: 4px;
}

.wrap-box .content-box .btn-active span{
  background: #ED690E;
  height: 42px;
}

.wrap-box .content-box .btn::after{
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  display: block;
  width: 100%;
  height: 100%;
  z-index:1;
  background: #F5F5F5;
  border: 1px solid #7665B1;
  border-radius: 4px;

}
.wrap-box .content-box .btn-active:after{
  display: none;
}

.hide{
  top: 100%;
  height: 0;
  overflow: hidden;
}

img{
  width: 100%;
  height: auto;
  display: block;
}

input:focus{
  outline: none;
}

.loading-box{
  height: 0.9rem;
  position: relative;
  width: 80%;
  margin: 0 auto 0.4rem;

}
.loading-box .circle{
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  float: right;
  background: #fff;
}
.loading-box .progressbar{
  position: absolute;
  left: 0;
  top: 0.25rem;
  z-index: 1;
  height: 0.4rem;
  width: 96%;
  background: #fff;
  border-radius: 0.2rem;
  padding: 0.1rem;
}
.loading-box .progressbar span{
  display: block;
  width: 0;
  height: 0.2rem;
  border-radius: 0.1rem;
  background: #EDAD00;
}
.loading-box .end{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  height: 0.9rem;
  width: 0.9rem;
  border-radius: 50%;
  padding: 0.15rem;
}
.loading-box .end span{
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #EDAD00 url('../image/loading.gif') center center no-repeat;
  background-size: 0.4rem 0.4rem ;
  font-size: 0;
  text-align: center;
  line-height: 0.6rem;
  color: #fff;
}
.loading-box .end .loading-end{
  background: #EDAD00 !important;
  font-size: 10px !important;
}

/* common css end */

/* --- one page --- */
.home-module{
  background: #FFC31E url('../image/home_bg.png') no-repeat bottom center;
  background-size: 100% auto;
  position: relative;
}

.home-module .content-box{
  position: absolute;
  left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;

}

.home-module .content{
  margin: 0.4rem 0;
  padding: 0 0.4rem;
}

.wrap-box .info{
  background: #F9E38D;
  border: 2px dashed #7665B1;
  text-align: center;
  padding: 0.4rem 0 0.6rem;
}


.wrap-box .info p{
  font-family: "fontTH";
  font-size: 20px;
  color: #111111;
  letter-spacing: 1.66px;
  line-height: 0.6rem;
  padding: 0 0.1rem;
}
.home-module .info p{
  margin-bottom: 0.6rem;
}

.wrap-box .info p span{
  display: block;
}

.home-module .footer-text{
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  padding: 0 0.4rem 0.2rem 0;
}

.home-module .footer-text .line{
  font-size: 9px;
  letter-spacing: 1.8px;
  margin-bottom: 3px;
}
.home-module .footer-text .text{
  font-size: 9px;
  color: #111111;
  line-height: 14px;
  letter-spacing: 9.65px;
  position: relative;
  left: 0.2rem;
}


/* --- two page --- */
.gender-module{
  background: url('../image/gender_bg.png') no-repeat center center;
  background-size: 100% auto;
}

.gender-module .content-info .content{
  padding: 1.5rem 0.4rem 0;
}

.gender-module .content-info .content .info{
  padding: 0.3rem 0;
}

.gender-module .gender-select{
  width: 100%;
  position: absolute;
  left:0;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 0.92rem;
}
.gender-module .gender-select img{
  visibility: hidden;
}

.gender-module .gender-list{
  overflow: hidden;
}
.gender-module .gender-list .gender-item{
  width: 33.3%;
  margin-left: 12%;
  position: relative;
  float: left;
}

.gender-module .gender-list .gender-item .inp{
  position: absolute;
  left: -1000px;
  border: none;
}
.gender-module .gender-list .gender-item .gender-label{
  display: block;
}

.gender-module .gender-list .gender-item:last-child{
  margin-left: 9%;
}




/* --- three page --- */
.form-module .content-box .content{
  padding: 0.6rem 10.6%;
}

.form-module .content-box .info{
  padding: 0.4rem 0;
  margin-bottom: 0.5rem;
}
.form-module .content-box .info p{
  letter-spacing: 4.51px;
}

.form-module .content-box .calendar-box{
  height: 0.8rem;
  margin-bottom: 0.4rem;
}

.form-module .content-box .calendar-box .btn{
  width: 44%;
  min-width: 1.6rem;
}

.form-module .content-box .calendar-box #gregorianCalendarID{
  float: left;
}

.form-module .content-box .calendar-box #lunarCalendarID{
  float: right;
}

.form-module .content-box .input-box{
  margin-bottom: 1.2rem;
}
.form-module .content-box .input-box .input-content{
  position: relative;
  overflow: hidden;
  background: #FFFFFF;
  border: 1px solid #7665B1;
  padding: 8px;
  height: 38px;
}
.form-module .content-box .input-box .err{
  width: 100%;
  height: 14px;
  font-size: 12px;
  color: #f00;
  display: none;
}
.form-module .content-box .input-box .show-err{
  display: block;
}
.form-module .content-box .input-box .label{
  position: absolute;
  font-size: 14px;
  left: 8px;
  color: #111111;
  letter-spacing: 1.5px;
}

.form-module .content-box .input-box .inp{
  width: 100%;
  display: block;
  padding: 0 0 0 75px;
  border: none;
  line-height: 20px;
}

.form-module .content-box .local-box .inp{
  padding-left: 85px;
  border: none;
}

.form-module .content-box .submit-btn{
  text-align: center;
}



/* --- four page --- */
.loading-module {
  position: relative;
}
.loading-module .content{
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.loading-module .content p{
  font-size: 12px;
  color: #111111;
  letter-spacing: 1.56px;
  line-height: 18px;
  text-align: center;
}



/* --- five page --- */
.result-module .content-box{
  width: 100%;
  height: 100%;
  position: relative;
}
.result-module .content-box .content{
  height: 100%;
}
.result-module .content .result-top{
  padding-top: 0.4rem;
  width: 100%;
  height: 48%;
  background: url('../image/result_girl_1.png') right bottom no-repeat;
  background-size: 100% auto;
  position: relative;
}
.result-module .content .boyBg{
  background: url('../image/result_boy_1.png') right bottom no-repeat;
  background-size: 100% auto;
}
.result-module .content .boyBgErr{
  background: url('../image/result_boy.gif') right bottom no-repeat;
  background-size: 100% auto;
}
.result-module .content .girlBgErr{
  background: url('../image/result_girl.gif') right bottom no-repeat;
  background-size: 100% auto;
}

.result-module .content .result-top .result-top-content{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}


.result-module .content .result-top .title-box{
  position: relative;
  padding: 0 0.6rem;
}
.result-module .content .result-top .title-box .user-icon{
  position: absolute;
  left: 0.6rem;
  top: 0;
  width: 45px;
  height: 45px;
}

.result-module .content .result-top .title-box .title{
  width: 100%;
  padding-left: 55px;
  text-align: left;
}

.result-module .content .result-top .title-box .title b{
  display: block;
  font-size: 24px;
  line-height: 0.6rem;
  color: #111111;
  letter-spacing: 0.12px;
  font-family: "fontTH";
}
.result-module .content .result-top .title-box .title span{
  font-size: 10px;
  line-height: 14px;
  color: #111111;
  letter-spacing: 0.05px;
  display: block;
}

.result-module .content .result-top .chartsContCanvas{
  width: 52%;
  height: 4rem;
  margin-top: 0.2rem;
  margin-left: 5%;
}

.result-module .content .result-bottom{
  width: 100%;
  height: 52%;
  min-height: 260px;
  position: relative;
}

.result-module .content .result-bottom .result-description-list{
  padding: 0.3rem 0.6rem 0;
}

.result-module .content .result-bottom .result-description-item{
  position: relative;
  margin-bottom: 0.4rem;
}

.result-module .content .result-bottom .result-description-item h3{
  font-size: 36px;
  line-height: 0.8rem;
  color: #111111;
  letter-spacing: 0.51px;
  font-family: "fontTH";
  padding-right: 5px;
  position: absolute;
  left: 0;
  top: 0;
}

.result-module .content .result-bottom .result-description-item p{
  padding-left: 95px;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  letter-spacing: 0.06px;
  position: relative;
  min-height: 0.84rem;
}
.result-module .content .result-bottom .result-description-item p span{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 95px;
}

.result-module .content .result-bottom .result-description-item p::before{
  content: "";
  position: absolute;
  left: 80px;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #111;
}

.result-module .content .result-bottom .result-description-item p::after{
  content: "";
  position: absolute;
  left: 83px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #111;
}

.result-module .content-box .company-info{
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.2rem 0.6rem;
  border-top: 1px solid #111111;
  border-right: 1px solid #111111;
}
.result-module .content-box .company-info .text b{
  font-weight: normal;
  display: block;
  line-height: 24px;
  font-size: 14px;
  color: #111111;
  letter-spacing: 0.07px;
  padding-left: 30px;
  background: url('../image/logo.png') left top no-repeat;
  background-size: 24px 24px;
}

.result-module .content-box .company-info .text span{
  font-size: 10px;
  line-height: 14px;
  color: #111111;
  letter-spacing: 0.05px;
  display: block;
  padding-top: 5px;
}

.result-module .content-box .result-share-box{
  position: absolute;
  right: 0.3rem;
  bottom: 0;
  text-align: center;
}

.result-module .content-box .result-share-box img{
  width: 64px;
  height: 64px;
  display: block;
}
.result-module .content-box .result-share-box p{
  font-size: 12px;
  color: #111111;
  letter-spacing: 0.17px;
  line-height: 18px;
  padding-bottom: 0.1rem;
}

.result-img {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}
